.App {
  
}

.App-header {
  top: 0px;
  width: 100%;
  background-color: #282c34;
  display: flexbox;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: calc( 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-controls
{
  width: 50%;
  position: fixed;
  bottom: 50px;
  left: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.App-word-container
{
  position: fixed;
  justify-content: space-between;
  bottom: 50%;
  width: 50%;
  left: 25%;
  text-align: center;
  font-size: calc( 5vmin);
}

.App-button
{
  background-color: #282c34;
  color: #282c34;
}